/* .theme-dark, [class*=layer-], .theme-dark, [class*=layers-] {
    background-image: url("https://i.imgur.com/wTswFL5.jpg") !important; 
    background-size: cover !important; 
} */


.app [class*=layers-] [class*=layer-]>[class*=container-] {
    background-color: rgba(54, 57, 62, .1);
}

@-webkit-keyframes opacityBg {
	from { opacity: 0; }
	to { opacity: 1; }
}

/* TRANSPARENT THING */

.flex-horizontal {
	background-color: rgba(54, 57, 62, .7);
}

/*.guilds-wrapper, [class*=flex-] {

}*/

.theme-dark .title-qAcLxz {
    background: rgba(46, 49, 54, .8);
}

.theme-dark .title-qAcLxz:hover {
    background: rgba(46, 49, 54, .9);
}

.theme-dark .chat form {
    background: transparent;
}

.theme-dark .inner-3if5cm:hover {
    background: rgba(46, 49, 54, .8);
}

.channels-3g2vYe, .container-RYiLUQ {
    background: rgba(46, 49, 54, .5);
}


/*THIS PART MESSES WITH EMOJI PICKER TOO*/
/*.scrollerWrap-2uBjct:hover {
    background: rgba(46, 49, 54, .8);
}
*/


/*=====================*/
/* channel-bar */
/*.channels-wrap {
    background: rgba(28, 30, 34, .0);
    background-position: 0px 0px;
}
.channels-wrap:hover {
    background: rgba(28, 30, 34, .0);
}

.guild-channels, .private-channels {
    background: rgba(46, 49, 54, .35);
}
.guild-channels:hover, .private-channels:hover {
    background: rgba(46, 49, 54, .7);
}
.guild-header header, .search-bar {
    background: rgba(46, 49, 54, .6);
}
.guild-channels-wrapper:hover .guild-header header, .private-channels:hover .search-bar {
    background: rgba(46, 49, 54, .7);
}
.search-bar {
    background: rgba(46, 49, 54, .25);
}
.guild-channels-wrapper:hover .guild-header header:hover, .guild-header.popout-open header, .private-channels:hover .search-bar:hover {
    background: rgba(40, 43, 48, .9);
}*/
/*====================*/


/*====================*/
/*.private-channels:hover .search-bar,
.private-channels:hover .search-bar:hover {
    transition: background-color .15s ease;
}

.guild-channels .channel-text.selected {
    background: -webkit-linear-gradient(left, rgba(46, 49, 54, 0.7), rgba(46, 49, 54, 0.95), rgba(46, 49, 54, 0.98), rgba(46, 49, 54, 1.0));
}

.channels-wrap .account {
    background: rgba(40, 43, 48, .4);
}
.channels-wrap:hover .account {
    background: rgba(40, 43, 48, .6);
    background: linear-gradient(right, rgba(40, 43, 48, .0) 85%, rgba(46, 49, 54, 1.0));
}*/
/*====================*/



/*====================*/
.theme-dark .chat, #friends .friends-table {
    background-color: rgba(54, 57, 62, .0);
}

.theme-dark .chat .title-wrap,
#friends .friends-header {
    background: transparent;
}

/*#friends .friends-header {
    position: relative;
}*/

.theme-dark .chat .content {
    background-color: rgba(54, 57, 62, .7);
}

.theme-dark .messages-wrapper {
    background-color: rgba(54, 57, 62, .0);
}
/*
.flex-spacer, #friends {
    overflow: visible;
}*/

.theme-dark .friends-table .scroller-wrap ::-webkit-scrollbar-thumb, .theme-dark .messages-wrapper .scroller-wrap ::-webkit-scrollbar-thumb {
    background-color: rgba(30, 33, 36, .5);
    border-color: rgba(54, 57, 62, .5);
}

.theme-dark .friends-table .scroller-wrap ::-webkit-scrollbar-track-piece, .theme-dark .messages-wrapper .scroller-wrap ::-webkit-scrollbar-track-piece {
    background-color: rgba(46, 49, 54, .2);
    border-color: rgba(54, 57, 62, .2);
}


.theme-dark .channel-members {
    background: rgba(46, 49, 54, .4);
    -webkit-box-shadow: -2px 0px 1px rgba(46, 49, 54, 0.4);
}

.theme-dark .channel-members:hover {
    background: rgba(46, 49, 54, .9);
}

/*.theme-dark .chat form .typing {
    background-color: rgba(54, 57, 62, .0);
}*/
/*====================*/


/*====================*/
/* CHANNEL LIST */
.div[class*=nameConnectText-], [class*=nameConnectVoice-], [class*=nameSelectedText-], [class*=nameSelectedVoice-] {
    color: #FF69B4 !important;
}

.nameCollapsed-3_ChMu, .nameDefault-Lnjrwm {
    color: #FF69B4;
}
/* Why is this one not working? */
.colorSelectedText-3YhFC6 {
    fill: #FF69B4 !important;
}

/*====================*/
.tooltip {
	background-color: #FF69B4;
}
.tooltip.tooltip-right::after {
	border-right-color: #FF69B4;
}
.tooltip.tooltip-bottom::after {
	border-bottom-color: #FF69B4;
}
.tooltip.tooltip-left::after {
	border-left-color: #FF69B4;
}
.tooltip.tooltip-top::after {
	border-top-color: #FF69B4;
}

[class^=messageGroupBlocked-] {
	/*margin: 0 10px;
	height: 10px ;*/
	display: none;
}

.div[class*=bar-], [class*= unreadBar-] {
	background-color: rgba(60, 179, 113, .9);
}

.div[class*=bar-], [class*= unreadBar-]:hover {
    background-color: rgba(255, 105, 180, .9);
    -webkit-animation-name: wiggle;
    -ms-animation-name: wiggle;
    -ms-animation-duration: 300ms;
    -webkit-animation-duration: 300ms;
    -webkit-animation-iteration-count: 1;
    -ms-animation-iteration-count: 1;
    -webkit-animation-timing-function: ease-in-out;
    -ms-animation-timing-function: ease-in-out;
}
  
@-webkit-keyframes wiggle {
    0% {-webkit-transform: rotate(2deg);}
    25% {-webkit-transform: rotate(-2deg);}
    50% {-webkit-transform: rotate(2deg);}
    75% {-webkit-transform: rotate(-2deg);}
    100% {-webkit-transform: rotate(0deg);}
}

@-ms-keyframes wiggle {
    0% {-ms-transform: rotate(1deg);}
    25% {-ms-transform: rotate(-1deg);}
    50% {-ms-transform: rotate(1.2deg);}
    75% {-ms-transform: rotate(-2deg);}
    100% {-ms-transform: rotate(0deg);}
}

@keyframes wiggle {
    0% {transform: rotate(2deg);}
    25% {transform: rotate(-2deg);}
    50% {transform: rotate(2deg);}
    75% {transform: rotate(-2deg);}
    100% {transform: rotate(0deg);}
}

.chat .divider.divider-red span {
    color: #FF69B4 !important;
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
}

.chat .divider.divider-red span:hover,
.chat .divider.divider-red span:focus,
.chat .divider.divider-red span:active {
   -webkit-transform: scale(1.1) rotate(4deg);
   transform: scale(1.1) rotate(4deg);
}

/*New Message Divider color change */
.theme-dark [class*=divider-] span {
    color: #FF69B4 !important;
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
}

/*New Message Divider rotate effect */
.theme-dark [class*=divider-] span:hover,
.theme-dark [class*=divider-] span:focus,
.theme-dark [class*=divider-] span:active {
   -webkit-transform: scale(1.1) rotate(4deg);
   transform: scale(1.1) rotate(4deg);
}


/*Discord user card role fix*/
div[class^="roleCircle-"] {
  display: none;
}

div[class^="roleName-"] {
  margin: 0 4px 0 4px;
}

li[class^="role-"] {
  border-radius: 3px;
  border: 2px solid;
}

li[class^="role-"]:hover, 
li[class^="role-"]:focus, 
li[class^="role-"]:active {
   -webkit-transform: scale(1.1) rotate(4deg);
   transform: scale(1.1) rotate(4deg);
}

li[class^="role-"] { transition: transform 150ms ease-in-out }