.app .layers,
.app .layers .layer>[class*=container-] {
    background-image: url("https://i.imgur.com/wTswFL5.jpg") !important; 
    background-size: cover !important; 
}


@-webkit-keyframes opacityBg {
	from { opacity: 0; }
	to { opacity: 1; }
}

/* TRANSPARENT THING */

.flex-horizontal {
	background-color: rgba(54, 57, 62, .7);
}

/*.guilds-wrapper, [class*=flex-] {

}*/

.theme-dark .title-qAcLxz {
    background: rgba(46, 49, 54, .8);
}

.theme-dark .title-qAcLxz:hover {
    background: rgba(46, 49, 54, .9);
}

.theme-dark .chat form {
    background: transparent;
}

.theme-dark .inner-3if5cm:hover {
    background: rgba(46, 49, 54, .8);
}

.channels-3g2vYe, .container-RYiLUQ {
    background: rgba(46, 49, 54, .5);
}

.scrollerWrap-2uBjct:hover {
    background: rgba(46, 49, 54, .8);
}



/*=====================*/
/* channel-bar */
/*.channels-wrap {
    background: rgba(28, 30, 34, .0);
    background-position: 0px 0px;
}
.channels-wrap:hover {
    background: rgba(28, 30, 34, .0);
}

.guild-channels, .private-channels {
    background: rgba(46, 49, 54, .35);
}
.guild-channels:hover, .private-channels:hover {
    background: rgba(46, 49, 54, .7);
}
.guild-header header, .search-bar {
    background: rgba(46, 49, 54, .6);
}
.guild-channels-wrapper:hover .guild-header header, .private-channels:hover .search-bar {
    background: rgba(46, 49, 54, .7);
}
.search-bar {
    background: rgba(46, 49, 54, .25);
}
.guild-channels-wrapper:hover .guild-header header:hover, .guild-header.popout-open header, .private-channels:hover .search-bar:hover {
    background: rgba(40, 43, 48, .9);
}*/
/*====================*/


/*====================*/
/*.private-channels:hover .search-bar,
.private-channels:hover .search-bar:hover {
    transition: background-color .15s ease;
}

.guild-channels .channel-text.selected {
    background: -webkit-linear-gradient(left, rgba(46, 49, 54, 0.7), rgba(46, 49, 54, 0.95), rgba(46, 49, 54, 0.98), rgba(46, 49, 54, 1.0));
}

.channels-wrap .account {
    background: rgba(40, 43, 48, .4);
}
.channels-wrap:hover .account {
    background: rgba(40, 43, 48, .6);
    background: linear-gradient(right, rgba(40, 43, 48, .0) 85%, rgba(46, 49, 54, 1.0));
}*/
/*====================*/



/*====================*/
.theme-dark .chat, #friends .friends-table {
    background-color: rgba(54, 57, 62, .0);
}

.theme-dark .chat .title-wrap,
#friends .friends-header {
    background: transparent;
}

/*#friends .friends-header {
    position: relative;
}*/

.theme-dark .chat .content {
    background-color: rgba(54, 57, 62, .7);
}

.theme-dark .messages-wrapper {
    background-color: rgba(54, 57, 62, .0);
}
/*
.flex-spacer, #friends {
    overflow: visible;
}*/

.theme-dark .friends-table .scroller-wrap ::-webkit-scrollbar-thumb, .theme-dark .messages-wrapper .scroller-wrap ::-webkit-scrollbar-thumb {
    background-color: rgba(30, 33, 36, .5);
    border-color: rgba(54, 57, 62, .5);
}

.theme-dark .friends-table .scroller-wrap ::-webkit-scrollbar-track-piece, .theme-dark .messages-wrapper .scroller-wrap ::-webkit-scrollbar-track-piece {
    background-color: rgba(46, 49, 54, .2);
    border-color: rgba(54, 57, 62, .2);
}


.theme-dark .channel-members {
    background: rgba(46, 49, 54, .4);
    -webkit-box-shadow: -2px 0px 1px rgba(46, 49, 54, 0.4);
}

.theme-dark .channel-members:hover {
    background: rgba(46, 49, 54, .9);
}

/*.theme-dark .chat form .typing {
    background-color: rgba(54, 57, 62, .0);
}*/
/*====================*/


/*====================*/
/* CHANNEL LIST */
.nameSelectedText-32NDX5, .nameSelectedVoice-XpjYTw {
    color: #FF69B4;
}

.nameCollapsed-3_ChMu, .nameDefault-Lnjrwm {
    color: #FF69B4;
}
/* Why is this one not working? */
.colorSelectedText-3YhFC6 {
    fill: #FF69B4 !important;
}

/*====================*/
.tooltip {
	background-color: #FF69B4;
}
.tooltip.tooltip-right::after {
	border-right-color: #FF69B4;
}
.tooltip.tooltip-bottom::after {
	border-bottom-color: #FF69B4;
}
.tooltip.tooltip-left::after {
	border-left-color: #FF69B4;
}
.tooltip.tooltip-top::after {
	border-top-color: #FF69B4;
}

.message-group-blocked {
	/*margin: 0 10px;
	height: 10px ;*/
	display: none;
}

.chat .divider.divider-red span {
    color: #FF69B4 !important;
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
}

.chat .divider.divider-red span:hover,
.chat .divider.divider-red span:focus,
.chat .divider.divider-red span:active {
   -webkit-transform: scale(1.1) rotate(4deg);
   transform: scale(1.1) rotate(4deg);
}

.chat .divider.divider span {
    color: #FF69B4 !important;
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
}

.chat .divider.divider span:hover,
.chat .divider.divider span:focus,
.chat .divider.divider span:active {
   -webkit-transform: scale(1.1) rotate(4deg);
   transform: scale(1.1) rotate(4deg);
}

